@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: Monserrat, sans-serif;
    font-weight: 400;
    color: #222222;
    font-size: 16px;
}

/* headings and logo */

h1, h2 {
    font-family: Monserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

#logo {
    float: left;
    margin-left: 30px;
    text-decoration: none;
}

#logo h1 {
    font-size: 3rem;
    color: #111111;
}

/* navigation links */

#menu {
    float: right;
    font-size: 2rem;
}

#menu li {
    display: inline;
    font-family: Monserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    list-style-type: none;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: #222222;
}

#menu a:hover {
    border-bottom: 1px solid #222222;
}

.active {
    border-bottom: 1px solid #222222;
}