@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #032c36;
    color:#fff;
}

section {
    clear: both;
}

/* headings and logo */

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    text-decoration: none;
}

#logo img {
    width: 250px;
    height: auto;
}

/* navigation links */

#menu {
    float: right;
    font-size: 2rem;
}

#menu li {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    list-style-type: none;
    margin-right: 30px;
    
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color:#fff;
}

#menu a:hover {
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
    overflow: hidden;
    background-size: cover;
}
#cover-text, #cover-text h2 {
    color: #fff;

}
#cover-text {
    font-size:120%;
    font-family: Poppins, sans-serif;
    width:350px;
    height:150px;
    background-color: rgba(3, 44, 54, 0.6);
    position:absolute;
    right:150px;
    bottom:30px;
    padding-top: 30px;
    padding-left:30px;   
}

/* section one */

#welcome { 
    background-color: rgb(244,246,248);
    color: #032c36;
    font-family: Poppins, sans-serif;
    padding-bottom:20px;
    font-size:1.2rem;
    margin-top: 20px;
}

.intro {
    text-align: center;
    background-color: #032c36;
    color:#fff;
}

.intro h1 {
    padding-bottom:10px;
}

.intro p {
    padding-bottom:70px;
}

.img-left-text-right {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.img-left-text-right img {
    width: 60%;
    height: 300px;
    padding-left:30px;
    margin-top:30px;
}

.img-left-text-right div {
    float: right;
    width: 40%;
    padding-right:30px;
    padding-left:10px;
    margin-top:30px;
}

.img-right-text-left {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.img-right-text-left img {
    float: right;
    width: 60%;
    box-sizing:border-box;
    height: 300px;
    padding-right:30px;
    margin-top:30px;
}

.img-right-text-left div {
    text-align: right;
    width: 40%;
    padding-right:10px;
    box-sizing:border-box;
    padding-left:30px;
    margin-top:30px;
}

/* section 2 - pick-up points*/

#collection div {
    width: 25%;
    height: 300px;
    float:right;
    border: 1px solid #fff;
    box-sizing: border-box;
    text-align:center;
    padding: 30px;

}



/* footer */

footer {
    height: 200px;
    background-color: #032c36;
    padding: 25px;
    color: #fff;
    
}

.social-links {
    float: left;
}

.social-links > li {
    display: inline-block;
    padding: 30px;
    margin-top: 20px;
}

.social-links i {
    font-size: 150%;
    color:#fff;
}

.contact {
    float:right;
    margin-right: 30px;
  
}

.contact a {
    display:block;
}

/* Form */

.form-section {
    background-image: url('../images/order-now-photo.png');
    background-size: cover;
    background-position: center;
    clear:both;
    text-align:center;
    color: whitesmoke;
    padding-top:30px;
    padding-bottom:30px;
}

/* our products page */

.veg {
    clear:both;
    text-align:center;
}

h1 {
    clear: both;
}

.veg img {
    width:400px;
    height:300px;
    overflow:hidden;
    box-sizing: border-box;
    max-width: 100%;
    object-fit: cover;
}

.veg-item {
    padding: 0 16px 16px 16px;
    float:left;
    width: 25%;
}